*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  --wordle-green: #538b53;
  --wordle-yellow: #b59f3b;
  --wordle-gray: #3a3a3c;
  --wordle-black: #121212;
}

.green-background {
  background-color: var(--wordle-green);
}
.yellow-background {
  background-color: var(--wordle-yellow);
}
.gray-background {
  background-color: var(--wordle-gray);
}
.black-background {
  background-color: var(--wordle-gray);
  opacity: 0.15;
}

body {
  background-color: var(--wordle-black);
  color: white;
  font-family: monospace;
  text-align: center;
}

#game-header {
  margin-bottom: 20px;
}

.wordle-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter {
  display: inline-block;
  padding: 0px 10px;
  border: 3px solid black;
  font-weight: 1000;
  height: 52px;
  width: 52px;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
}

#used-letters {
  margin-top: 80px;
}

#used-letters .letter {
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.word-div {
  font-size: 34px;
  text-transform: uppercase;
  height: 52px;
}

#previous-words {
  margin-top: 20px;
}
